.projects{
    display: block;
}

.modal-content{
    padding:40px;
}


.modal-content h4{
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.modal-content h4 label{
    margin: 5px;
}

.modal-content h4 input{
    margin: 5px;
}

.modal-content h4 button{
    padding:6px 5px 6px;
}